

header { 
    background-color: #ffffff;
    height: 60px;
}

body {
    background-color: grey;
    padding: 20px;
    margin:auto;
}

footer {
    background-color: red;
    padding: 25px;
    border-bottom: 25px
}

.nameheader {
    background-color: teal;
    padding: 12px;
    margin: auto;
    float:left;
}

.wrapper {
    background-color: #ffffff;
    float:right;
    padding:15px;
    margin: 0;
    top: 0;
    right:75px;
    
}



