

head { 
    background-color: #ffffff;
    float: left;
    margin: 0%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

body {
    background-color: grey;
    margin-top: 150px;
    margin-left: 500px;
    margin-bottom: 150px;
    height: 200px;
    width: 300px;
    padding: 20px;
}

footer {
    background-color: red;
    padding: 25px;
    border-bottom: 25px
}

.nameheader {
    background-color: teal;
    position: fixed;
    padding: 45px;
    margin: 0;
    top: 0%;
    left: 25px;
}

.wrapper {
    background-color: #ffffff;
    position: fixed;
    padding:15px;
    margin: 0;
    top: 0;
    right:75px;
    
}



